
@{
    Layout = null;
}
@model Real_State_project.ViewModels.AccountViewModel
@using Real_State_project.Models
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Estate Home</title>
    <link rel="stylesheet" href="~/content/bootstrap.css">
    <link rel="stylesheet" href="~/content/font-awesome.min.css">

    <link rel="stylesheet" href="~/fonts/icomoon/styleicons.css">
    <link rel="stylesheet" href="~/content/home/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/home/magnific-popup.css">
    <link rel="stylesheet" href="~/content/home/jquery-ui.css">
    <link rel="stylesheet" href="~/content/home/owl.carousel.min.css">
    <link rel="stylesheet" href="~/content/home/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/content/home/style.css">

    <link rel="stylesheet" href="~/content/home_style.css">
    <link rel="icon" href="~/img/house.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            overflow: hidden;
        }

        * {
            box-sizing: border-box;
        }

        /* Button used to open the contact form - fixed at the bottom of the page */
        .open-button {
            background-color: black;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

                /* When the inputs get focus, do something */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/login button */
            .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.8;
            }


            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }
    </style>
</head>
<body>

    <!-- start header -->
    <div class="header">
        <div class="slider">
            <div class="intro text-center">
                <h2>Please Login</h2>
            </div>
        </div>
        </div>


    <h3 style="padding:15px;">You don't have an accout?, <a href="Account/register">Register</a> Now..</h3>




        <button class="open-button" onclick="openForm()">Login Form</button>
        <div class="form-popup" id="myForm">
            <div class="form-container">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.LabelFor(model => model.Account.username)
                    @Html.TextBoxFor(model => model.Account.username)
                    @Html.LabelFor(model => model.Account.password)
                    @Html.PasswordFor(model => model.Account.password)
                    <button type="submit" class="btn">Login</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                }
            </div>
        </div>




        <script>
            function openForm() {
                document.getElementById("myForm").style.display = "block";
            }

            function closeForm() {
                document.getElementById("myForm").style.display = "none";
            }
        </script>

</body>
</html>