
@{
    Layout = null;
}
@using Real_State_project.Security;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>work4</title>
</head>
<body>
    <div>
        work4
        <br />
        welcome  @sessionPersiter.Username
        <br />
        <a href="@Url.Action("Logout","Account")">Logout</a>
    </div>
</body>
</html>
